.inputPanel:focus-within {
    outline: 2px solid var(--color-1);
    box-shadow: none;
    transform: scale(1) !important;
}
input:focus-visible {
    outline: none;
}

.inputPanel:hover {
    transform: scale(1.05);
}
.logo:hover {
    transform: scale(1.2);
    box-shadow: var(--box-shadow-1);
}
#finalPassword:focus {
    outline: 2px solid var(--color-1);
}
.footerItem:hover {
    color: var(--color-1)
}
.sideIcon:hover {
    transform: scale(1.2);
}

.socialIcon:hover {
    transform: scale(1.2);
}
.settingsIcon:hover {
    transform: scale(1.2) rotate(90deg);
}
.preferencesIcon:hover {
    transform: scale(1.2);
}

